<div class="card border-primary mb-3">
    <div class="card-header">Ubigeo</div>
    <div class="card-body text-primary">
      <h1 class="text-center"><strong>Listado de ubigeo</strong></h1>
      
      <table class="table table-dark">
        <thead>
          <tr>
            <th>idUbigeo</th>
            <th>departamento</th>
            <th>provincia</th>
            <th>distrito</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of ubigeo">
            <td>{{x.idUbigeo}}</td>
            <td>{{x.departamento}}</td>
            <td>{{x.provincia}}</td>
            <td>{{x.distrito}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>